*{
    margin:0;
    padding:0;
}

.wrap {
    width:100%;
    text-align:center;
    padding:10px;
    min-height:50px;
    border-width:2px;
    border-style:inset;
    font-style: italic;
}
.text-head{
    font-size:24px;
}
.yellow {
    background:yellow;
}
.white{
    background:white;
}
.green {
    background: #00FF00;
}
.blue-text{
    color:blue;
}
.pink {
    background:#FFC0CB;
}

.chart{
    width:100%;
    text-align:center !important;
    min-height:30px;
    border-width:2px;
    border-style:inset;
    padding:10px;
}
.refresh-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.refresh-btn {
    border: 2px solid #ff006c;
    background-color: #ff006c;
    color: #fff;
    padding: 3px 7px;
    border-radius: 8px 0;
    box-shadow: 0px 0px 1px #000000d6;
    font-size: 12px;
    margin: 2px 0 -1px;
    display: inline-block;
    transition: all .3s;
}